<div clas="create">
<h1>formulaire d'ajouts de Lapinou:</h1>
<form >
  <div class="formulaire">
  <label for="nom">Nom: </label>
  <input type="text" id="nom" placeholder="Nom du lapinou">
  <label for="race">Race: </label>
  <input type="text" id="race" placeholder="Race du lapinou">
  <label for="date">Date de naisance: </label>
  <input type="date" id="date" placeholder="Date de naissance du lapinou">
  <label for="photo">lien vers une photo: </label>
  <input type="file" id="photo" placeholder="Lien vers une photo du lapinou">
</div>
</form>
</div>
