.tout{
  display: flex;
  flex-direction: row-reverse;
  height :auto
  }

  .droit{
    display: flex;
    flex-direction: column;
    display: 3;
  }

  .list{
    display: flex;
  }
